# ignoring node module
/node_modules

# removing logs
/logs

# removing build 
/dist

# removing the env from repository
.env

# removing db-data from the repository which will be created if used docker.
/db-data